/*Fonts extraido de google*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

/*COLORES*/
:root {
  --text-color: rgb(235, 235, 235);
  --text-select-color: rgb(158, 12, 12);
  --hamburger-color: rgb(0, 0, 0);
  --background-color: rgb(0, 0, 0);
  --menu-hamburguesa-color: rgb(34, 14, 14);
  --menu-categorias-color: rgb(212, 212, 212);
  --categorias-box:rgba(172, 94, 94, 0.938);
  --text-more:  rgb(127, 204, 150);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  background: var(--background-color);
  color: var(--text-color);
}

/*adaptacion a los contenedors*/
.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px;
  max-width: 90%;
  text-transform: uppercase; /*masyucula*/
  text-align: center;
}

/*********SLIDER
*******************/
.sliderContainer {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/*escondemos solo la segunda imagen*/
div.show {
  display: block;
}
/* slider y centrado */
.mySlider {
  display: none;
  text-align: center;
}
/*imagen responsive */
img {
  max-width: 90%; /*para que la imagen se adapte*/
  height: auto;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 3em;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(148, 6, 6, 0.8);
}

.titleSlider {
  color: #f2f2f2;
  font-size: 1.5em;
  padding: 8px 12px;
  position: relative;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}


@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
/*********/
/****MENU**/

header {
  padding: 30px 0;
}


/*todas las listas desordenada estaran sin viñetas y  horizontal */
ul {
  list-style-type: none; /* quito las viñetas*/
  display: flex; /*vertical*/
  flex-direction: column;
  justify-content: space-between; /*Centro el texto de manera vertical y horizontal*/
}

/* drop box vertical NUESTROS LIBROS*/
nav ul.drop {
  flex-direction: column;
  position: relative;
  color: var(--menu-categorias-color);
}

/*sirve para menu y footer*/
ul a {
  text-decoration: none;
  color: inherit;
}

/****Estilos para menu hamburguesa*/
/* tres rayas */
#icon  {
  background-color: var(--hamburger-color);
  border: 0;
  position: relative;
  padding-left: 10px;
}


/*hover*/
.container  li:hover, .more:hover, .current{
  color: var(--text-select-color);

}
/*margen para todos los li */
li{
  margin: 12px 12px;
}

/**Lineas de sepacion*/

body > header:after {
    content: "";
    width: 100%;
    height: 6px;
    position: absolute;
    background-image: repeating-linear-gradient(30deg, rgb(7, 16, 47), #306291);
}

body > main:after {
    content: "";
    width: 100%;
    height: 6px;
    position: absolute;
    background: repeating-linear-gradient(30deg, #306291, rgb(7, 16, 47));
}

/* oculto todo */
.menuOff {
  display: none;
}

/* muestro todo el menu * */
.menuOn{
  display: block;
}

/*logo*/
.logo img{
  display:block;
  margin:auto;
}

/*cambio a boton por accesibilidad*/
#nuestroLibros, .prev ,.next{
  background-color: Transparent;
    background-repeat:no-repeat;
    font-size: inherit;
    color: var(--text-color);
    border: none;
    outline:none;
}

/*****footer****/

/*mi primer footer lo convierto en para que se muestre
 uno debajo de otro*/
.footerP1P2{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

footer{
  text-align: center;  
}

.footerP3 a{
  color:green;
}


/*CLIP PATH*/
.clip{
  clip-path: polygon(71% 23%, 54% 46%, 77% 61%, 46% 98%, 47% 48%, 47% 8%);
  width: 200;
  height: 180px;
}

footer.container:before{
  content: "\A";
  white-space: pre;
}

/*****
Página Categorías 
*********/
/*Decoro mi caja de lista de libros*/
.categorias li {
  border: 8px inset;
  border-color: var(--categorias-box);
  border-radius: 14px;
  padding: 10px;
}

.categorias{
  display: grid;
  grid-template-columns: repeat(auto-fit, 100%);
}

main h1 , .categorias  * {
  text-align: center;
}
/*ajustando imagen un poco más pequeña*/
.categorias img {
  width: 50vw;
}

/*lo convierto en flex-row*/
.libroCategoria{
  display: flex;
  align-items: center;/*y*/
}

.libroCategoria div{
  flex:1;
}

/*arreglo de categorias-mobile
main = 18px and ul=18px */
main h1{
  font-size:1.5em; /*27px*/
  font-weight: bold;
}
.titleBooks{
  font-size: 1em;/*18*/
}
.author{
  font-size: 0.6em; /*10.8px*/
}
.price{
  font-size: 1.2em; /*21.6px*/
  font-weight: bold;
}


.more{
  color: var(--text-more);
}

/********
Detalle de Categoría
**********/

.containerLibro  > section{
  border: 8px inset;
  border-color: var(--categorias-box);
  border-radius: 14px;
  padding:10px;
  text-align: center;
  align-items: center;
  margin: 1rem;
}

/*justifico , margen en resumnen y autor*/
blockquote p{
  text-align: justify;
  margin: 0.5em;
}


/*indico que sea bidimensional
esto quiere decir que se puede distribuir el
contenido en filas y columnas

Es por ello que aqui los clases de .libro (.libroP1 y .libroP2)
cuando sea mobile ocuparan en el 100% de la pantalla
*/
.libro{
  display: grid;
}

/*precio*/
.libroP2 div:first-child{
  font-size: 3em;
}

.libroP2 button{
	background:linear-gradient( #2dabf9 , #0688fa );
  background-color:#2dabf9;
  color: var(--text-color);
  border-radius:3px;
  padding:16px 29px;
  font-size: 1rem;
}

.libroP2 button:hover{
  background: #318aac;
  box-shadow: 0 4px 16px rgba(49, 138, 172, 1);
}

.libroP2 div{
  padding-top: 1rem;/*16px porque la raiz no se ha modificado*/
}

/*video*/
/*position relative- porque deseo que aparezca dentro del fujo normal del documento
es decir moviendose pero conversando el espacio que ocupa el video*/
.videoFluid{
  position: relative;
}
/*Ahora con el iframe cambio a posicion absolute con top,botom,left 0 para que salga 
del flujo normal pero conservando la position relative del padre(dentro del flujo normal)
*/
.videoFluidItem {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
/*Luego para se visualize correctamente, creo antes videoFluid
un bloque con padding top 62.45% para permitir ver el video
*/
.videoFluid::before {
  display: block;
  content: "";
  padding-top: 62.25%;
}

 /*Ficha tecnica-mobile*/
 .fichaP1P2 {
  display: flex ;
  flex-direction : column;
}

/*libros relacionados*/
.figures_libros_relacionados {
  display: flex ;
  flex-direction : row;

}

.figures_libros_relacionados figure{
  flex:1;
}

/*licencia CC*/
.footerP3 p{
  font-size: 0.8em;
  margin: 0.8em;
}

.footerP3 img{
  max-width: 25%;
}




/*************************************
*********TABLET desde 600 px
***************************************/

@media (min-width: 600px) {
  
  /****
  *****menu****/
  .topnav > ul:first-child {
    display:flex;
    flex-direction : row;
    background-color: var(--background-color);
  }

  nav ul.drop{
    visibility: hidden;
  }
  
  /*ocultamos la barra hamburguesa*/
#icon {
    visibility: hidden;
  }

   /*justifico , margen en resumnen y autor*/
  blockquote p{
    text-align: justify;
    margin: 0.5em;
  }


  /*footer lo convierto en fila para tener una lista
   a lado de otra */
  .footerP1P2{
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .footerP1, .footerP2{
    width: 40%;
  }

  /*Página categorías */

  .categorias{
    display: grid;
    grid-template-columns: repeat(auto-fit, 50%);
  }

  /*Ficha tecnica-tablet*/
  .fichaP1P2 {
    display: flex ;
    flex-direction : row;
  }
  
  .fichaP1, .fichaP2 {
    flex:1;
  }
  
  /********Detalle de Categoría*/
  /*como mi clase .libro es display:grid
  aqui asigno a libroP1 que empieze(grid-column-start) en 1
  y termine(grid-column-end) en 3 . y la segunda parte
  comience 3 y 5 respectivamente.
  */
.libroP1{
  grid-column: 1/3;
  max-width: 50vw;
}

.libroP2{
  grid-column: 3/5;
}

}

/*************************************
**********DESKTOP desde 1024px
**************************************/

@media (min-width: 1024px) {
 
/*Página categorías */
    .categorias{
      display: grid;
      grid-template-columns: repeat(auto-fit, 33.333333%);
    }


/*justifico , margen en resumnen y autor*/
blockquote p{
  text-align: justify;
  margin: 0.5em;
}


/*Ficha tecnica-desktop*/
.fichaP1P2 {
    display: flex ;
    flex-direction : row;
}
  
.fichaP1, .fichaP2 {
    flex:1;
}
  
  /********Detalle de Categoría*/
  /*como mi clase .libro es display:grid
  aqui asigno a libroP1 que empieze(grid-column-start) en 1
  y termine(grid-column-end) en 3 . y la segunda parte
  comience 3 y 5 respectivamente.
  */
  .libro{
    display: grid;
  }

  .libroP1{
    grid-column: 1/3;
    max-width: 50vw;
  }
  
  .libroP2{
    grid-column: 3/5;
  }


}